<h2>Editar Perfil</h2>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :senha %> <i>(Deixe em branco caso não queira alterar)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em>No mínimo <%= @minimum_password_length %> caraceteres.</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :Confirme_a_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :senha_atual %> <i>(Precisamos da sua senha para que as alterações tenham efeito)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Atualizar", class: "btn btn-primary"%>
  </div>
<% end %>
<br>
<br>
<h3>Deletar minha conta</h3>

<p><%= button_to "Deletar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" },
method: :delete, class: "btn btn-danger" %></p>

<%= link_to "Voltar", :back %>
