<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.submit "Mande-me instruções para resetar", class: "btn btn-primary"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
