<%= form_for(@evento, :html => { multipart: true}) do |f| %>
  <% if evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :endereco %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :hora %>
    <%= f.text_field :hour, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :data %>
    <%= f.text_field :data, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :imagem_do_evento %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="actions">
    <form action="../">
        <input name="commit" value="Criar Evento" class="btn btn-primary" data-disable-with="Create Evento" type="submit">
    </form>
  </div>
<% end %>
