<div class="row">
    <div class="col-md-3">
            <%= image_tag @evento.image_url %>
            <br>
            <br>
      <h2>
          <%= @evento.name %>
      </h2>

        <p>
          <strong>Address:</strong>
          <%= @evento.address %>
        </p>

        <p>
          <strong>Hour:</strong>
          <%= @evento.hour %>
        </p>

        <p>
          <strong>Data:</strong>
          <%= @evento.data %>
        </p>

        <p>
          <strong>Website:</strong>
          <%=link_to @evento.website, @evento.website %>
        </p>
        <br>

        <%= link_to "Escreva um Review", new_evento_review_path(@evento), class: "btn btn-primary" %>

    </div>

    <div class="col-md-9">
        <% if @reviews.blank? %>
        <h3> Nenhum comentário ainda, seja o primeiro a escrever um! </h3>
        <% else %>
        <% @reviews.each do |review| %>
            <p><%= review.rating %></p>
            <p><%= review.comment %></p>
        <% end %>
        <% end %>
    </div>
</div>


<br>

<iframe
  width="270"
  height="270"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAROf48HPiVTYhJj2XqghJvNyTUmQ90PPM
    &q=<%= @evento.address.parameterize %>" allowfullscreen>
</iframe>
<br>
<br>
<%= link_to 'Editar', edit_evento_path(@evento), class: "btn btn-link" %> |
<%= link_to 'Voltar', eventos_path, class: "btn btn-link" %>
