<a href="/pages/sobre">Sobre</a>

<h3>	O site EventosBrasilia e uma aplicação web desenvolvida em Ruby on Rails criada por Daniel Oda e Gabriel Ziegler, atualmente alunos de Engenharia de Software da UnB.</a></h3>
<h3> 	Seu principal objetivo é levar a você o que há de melhor em festas, opções de lazer e diversão na cidade. Logue com seu Facebook e navegue pelos eventos, saiba aonde e quando o evento irá acontecer e combine com seus amigos!<h3>
