<h2>Iniciar sessão</h2>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :senha %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :Lembrar_me %>
    </div>
  <% end -%>

  <div class="form-group">
    <%= f.submit "Entrar", class: "btn btn-primary"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
