.jumbotron {
    background-color: #2aa9e0;
    border: 1px solid #000000;
    h2{
        color: #000000;
        font-weight: bold;
    }
    h3{
        color: #ffffff;
        font-weight: lighter;
    }
}

.navbar-default{
    .container-fluid{
        background-color: #0275d8;
        .navbar-nav > li > a{
            color: #ffffff;
            font-size: 16px;
            font-weight: lighter;
        }

        .navbar-brand{
            color: black;
            font-size: 30px;
            font-weight: bold;
            font-family: 'Futura';
            text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        }
    }
}
