<p>Olá <%= @resource.email %>!</p>

<p>Você pode alterar sua senha através do link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a alteração, ignore este email</p>
<p>Sua senha não será alterada até você acessar o link e definir sua nova senha</p>
