<%= form_for([@evento, @review]) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nota %>
    <%= f.number_field :rating, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :commentário %>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <div class="form-group">
    <form action="../">
        <input name="commit" value="Criar Review" class="btn btn-primary" data-disable-with="Create Evento" type="submit">
    </form>
  </div>
<% end %>
